body {
    background-color: #ff006f;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.pc .p_logo {
    position: absolute;
    left: 1%;
    z-index: 1;
}

.pc .p_top {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100vw;
}

.pc .p_tit,
.pc .p_txt {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.pc .p_btn {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.pc .p_btn_add,
.pc .p_btn_get {
    margin: 0 50px;
}

.pc .p_add,
.pc .p_get {
    width: 40vh;
}

.pc .footer{
    font-size: 1.5rem;
    text-align: center;
    height: 10vh;
    color: white;
}

.pc .footer a{
    color: white;
    text-decoration: none;
}

.mobile .footer{
    font-size: .8rem;
    text-align: center;
    color: white;
    height: 5vh;
}

.mobile .footer a{
    color: white;
    text-decoration: none;
}

.mobile {
    width: 100vw;
}

.mobile .m_logo {
    position: absolute;
    left: 1%;
    width: 40vw;
}

.mobile .m_top {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100vw;
    z-index: -1;
}

.mobile .m_tit,
.mobile .m_txt {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 80vw;
}

.mobile .m_btn {
    position: relative;
    left: 50%;
    margin-top: -35%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
}

.mobile .m_btn_add,
.mobile .m_btn_get {
    margin: 0 5%;
}

.mobile .m_add,
.mobile .m_get {
    width: 30vw;
}